//colors
$color-principal: #e04d21;
$color-secundario: #20ab4b;
$color-adicional: #70461c;
$color-blanco: #ffffff;
$color-negro: #221f1f;

//font-size
$font-size-h1: 36px;
$font-size-h2: 38px;
$font-size-h3: 27px;